<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="nav-link" routerLink="">
    <img src="../../assets/images/logo.png" alt="madeGL" class="logo">
  </a>
  <div class="col-md-4 offset-md-1">
    <div class="input-group">
      <input type="text" class="form-control" [(ngModel)]="searchValue" [ngModelOptions]="{standalone: true}" placeholder="Search by name..." (keyup)="searchByName()">
      <div class="input-group-append">
        <span class="input-group-text"><ion-icon class="icon" name="search"></ion-icon></span>
      </div>
    </div>
  </div>
  <a class="nav-link" routerLink="login"><mat-icon>login</mat-icon> login</a>
</nav>



<div class="list-group users-list">
  <div *ngFor="let item of items" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="row">
      <div class="col col-md-2 image-col">
        <img class="image" [src]="item.payload.doc.data().avatar">
      </div>
      <div class="col col-md-8 text-col">
        <h5 class="mb-1">{{item.payload.doc.data().name}} {{item.payload.doc.data().surname}}</h5>
        <small>Age: {{item.payload.doc.data().age}}</small>
      </div>      
    </div>
  </div>
</div>
